@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Asap";
  font-style: normal;
  font-weight: 100 900;
  src: url('../../assets/fonts/Asap-VariableFont_wdth,wght.ttf');
}

#root {
  @apply relative w-full min-h-screen flex flex-row justify-start items-stretch bg-white transition-all;
}

main {
  @apply flex-grow px-6 pt-4 overflow-y-auto;
}

.draggable {
  -webkit-app-region: drag;
}

.non-draggable {
  -webkit-app-region: no-drag;
}